################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DESKTOP/CERAXCAR/.vs/CERAXCAR/v17/.suo
/DESKTOP/CERAXCAR/CERAXCAR/obj/Debug
/DESKTOP/CERAXCAR/.vs/CERAXCAR/FileContentIndex
/DESKTOP/CERAXCAR/.vs/CERAXCAR/v16
/DESKTOP/CERAXCAR/CERAXCAR/bin/Debug
